html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    font-family: 'Lato', sans-serif;
    color: #385170;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Header */
.banner {
    width: 100%;
    height: 110px;
    background-color: #f79c1d;
    text-align: center;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 3.65rem;
    color: #fff;
    text-transform: uppercase;
    margin: 20px;
}

/* Score Panel */
ul {
    padding: 0;
    display: inline-block;
}

.score-panel {
    display: inline-block;
    text-align: left;
    font-size: 1.25em;
    text-transform: uppercase;
}

.controls li {
    list-style: none;
    display: inline-block;
    padding: .25em;
}

.moves {
    padding-right: 40px;
}

.timer {
    padding-right: 40px;
}

.stars {
    margin: 0;
    padding-right: 40px;
    display: inline-block;
    color: #f7ac5b;
}

.stars li {
    list-style: none;
    padding: 3px;
}

.restart {
    cursor: pointer;
    color: #385170;
}

.restart:hover {
    color: #ca3e47;
}

.fa.fa-repeat {
    margin-left: 15px;
    color: #385170;
}

.fa.fa-repeat:hover {
    color: #ca3e47;
}

/* Deck of cards */
.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #5467bb 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
    font-size: 33px;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/* Modal Window*/
.modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hide {
    display: none;
}

.modal-window {
    position: relative;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: .5rem 2rem;
}

.modal-heading {
    display: flex;
    justify-content: space-between;
}

.modal-title {
    font-size: 1.75rem;
    color: #ca3e47;
}

.modal-content li {
    list-style: none;
    font-size: 1.5rem;
    line-height: 3rem;
    padding-left: 120px;
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.modal-button {
    width: auto;
    height: auto;
    font-size: 18px;
    padding: .75em;
}

.modal-close {
    font-size: 2rem;
    padding: 20px 0 0 0;
    color: #333;
}

.modal-close:hover {
    color: #ca3e47;
}
